<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <div class=''>
    <h4>Merge Articles</h4>
    <%= form_tag(merge_path) do %>
    <%= label_tag(:q, "Merge:") %>
    <%= text_field_tag("merge_with", :q) %>
    <%= if current_user.admin?
                 submit_tag("Merge")
               else submit_tag("Merge", :disabled => true )
               end %>
   <% end %>
   </div>    
 </div>
