<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <div class=''>
    <h4>Merge Articles</h4>
    <%= form_tag(merge_path) do %>
    <%= label_tag(:q, "Merge:") %>
    <%= text_field_tag("merge_with", :q) %>
    <%= submit_tag("Merge") %>
   <% end %>
   </div>    
 </div>
